<div class="container p-4">
  <button (click)="deleteMovie()" class="btn btn-danger">DELETE</button>
  <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">Reviewer</th>
          <th scope="col">Stars</th>
          <th scope="col">Reviews</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let review of reviews; let i = index">
          <th scope="row">{{review.name}}</th>
          <th scope="row">{{review.rate}}</th>
          <th scope="row">{{review.review}}</th>
          <td>
            <button class="btn btn-alert" (click)="deleteReview(review._id)">Delete Review</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>